.card_back {
    background-color : black;
    width : 160px;
    height : 160px;
    }

i {
    display : block;
}

.fontSize {
    font-size : 2em;
}

.fonts_Icons {
font-size : 10em;
text-align : center;
width : 100%;
}

.red_background {
background-color : red;
width : 160px;
height : 160px;
}

.rectangle {
width : 160px;
height : 160px;
}

table {
border-spacing : 5px;
padding : 5px 5px 5px 5px;
border : rgb(241, 241, 245) solid 1px;
background-color : beige;
margin-left : auto;
margin-right : auto;
}

.ui-widget {
font-family : Verdana, Arial, sans-serif;
font-size : 0.8em;
}

.ui-widget-content {
background : #F9F9F9;
border : #cf7744 solid 1px;
color : #222222;
}

.ui-dialog {
left : 0;
outline : 0 none;
padding : 0 !important ;
position : absolute;
top : 0;
}

#success {
padding : 0;
margin : 0;
}

.ui-dialog .ui-dialog-content {
background : none 0 0 repeat scroll transparent;
border : none 0;
overflow : auto;
position : relative;
padding : 0 !important ;
}

.ui-widget-header {
background : #cf7744;
border : 0;
color : #fff;
font-weight : normal;
}

.ui-dialog .ui-dialog-titlebar {
padding : 0.1em 0.5em;
position : relative;
font-size : 1em;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
border-bottom-right-radius : 3px;
}

.ui-button {
padding : 0.4em 1em;
display : inline-block;
position : relative;
line-height : normal;
margin-right : 0.1em;
cursor : pointer;
vertical-align : middle;
text-align : center;
user-select : none;
overflow : visible;
}

.ui-button-icon-only .ui-icon {
position : absolute;
top : 50%;
left : 50%;
margin-top : -8px;
margin-left : -8px;
}

.ui-icon-closethick {
background-position : -96px -128px;
}

.ui-icon {
width : 16px;
height : 16px;
}

.ui-icon {
display : inline-block;
vertical-align : middle;
margin-top : -0.25em;
position : relative;
text-indent : -99999px;
overflow : hidden;
background-repeat : no-repeat;
}