.card_back {
    background-color : black;
    width : 160px;
    height : 160px;
    }

i {
    display : block;
}

.fontSize {
    font-size : 2em;
}

.fonts_Icons {
font-size : 10em;
text-align : center;
width : 100%;
}

.red_background {
background-color : red;
width : 160px;
height : 160px;
}

.rectangle {
width : 160px;
height : 160px;
}

table {
border-spacing : 5px;
padding : 5px 5px 5px 5px;
border : rgb(241, 241, 245) solid 1px;
background-color : beige;
margin-left : auto;
margin-right : auto;
}

.site-dialog{
    overflow: hidden;
    width: 95%;
    max-width: 500px;
    padding: 0;
    border-width: 0;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.dialog-header{
    padding: 12px 20px;
    background-color: #434a54;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.dialog-content{
    margin: 12px 20px 20px; 
}

.dialog-btn-group{
    margin: 0px; 
    text-align: right;
    background-color: #f5f6f8;
}

.btn{
    padding: 10px 15px;
    cursor: pointer;
    color: #555;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    background-color: #f3f3f3;
    margin-left: 10px;
    margin-right: 20px;
}

.btn-danger {
    color: #fff;
    border-color: #ab3326;
    background-color: #c0392b;
    float: right;
}

h3{
    color: #fff;
    margin: 0;
    font-size: 16px;
}

.score-panel{
    text-align: center;
}
    
.checked {
    color: orange;
}

.stars{
    text-align: center;
}

